body{
  margin:0;
  background-color: #1a1a1d;
  color:white;
}

header{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.pages{
  margin-left: 50px;
  border: solid 1px black;
  width: fit-content;
  padding: 10px;
}

button{
  margin: 4px;

}

button:hover{
  cursor:pointer;
  background-color: #4e4e50;
  color: white;
}

.a-div{
  margin-top: 3px;
  margin-left: 4px;
}
a{
  padding-top:10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: white;
  padding-right: 8px;
  
}
a:hover{
  cursor:pointer;
}

.show-data{
  border-color: white;
  border-style: solid;
  border-radius: 1px;
  border-width: 1px;
  width: max-content;
  padding :5px;
  margin: 8px;
}



/* a{
  
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 4px 6px ;
    border-top: 2px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    
  
  
} */



